html,
body {
    overflow: hidden !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.strike {
    text-decoration: line-through;
    color: gray;
}

.loading2 {
    color: black;
    font-weight: 300;
}

.listItem {
    font-size: 16px!important;
    font-weight: 300!important;
}

.listButton {
    text-transform: none !important;
    margin: 1px 0 !important;
    font-size: 12px !important;
    max-height: 10px;
    color: rgb(49, 46, 46) !important;
    background-color: rgba(224, 224, 224, 0.96)  !important;
}

.listButtonLeft{
    border-radius: 10px 0 0 10px !important;
}

.listButtonRight{
    border-radius: 0 10px 10px 0 !important;
}
.listButtonMiddle{
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96) !important;
    border-right: 1px solid rgba(230, 230, 230, 0.96) !important;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

.listSelected{
    background-color:rgb(63,81,181) !important;
    color:white !important;
}