html,
body {
  overflow:hidden !important;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.strike {
    text-decoration: line-through;
    color:gray;
}


.loading2{
    color:black;
    font-weight: 300;
}
