<md-dialog  aria-label="About">
    <md-dialog-content>
        <div layout-align="center center" layout="column" layout-sm="column">
            <div layout="row">
                <label>Rubik CheckApp</label>
            </div>
            <div layout="row">
                <label>Version : </label>
                <label>0.7.0</label>
            </div>
            <div layout="row">
                <label>commit : </label>
                <label>ebf3ea9da93aef86aecb28a9966ee5f596ff3768</label>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>