<md-dialog class="noselect" aria-label="Mango (Fruit)" style="min-width:40%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                Şifre Değiştir
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-sm="column" >
           <md-input-container md-no-float flex>
                <input type="password" ng-model="vc.OldPassword" placeholder="Eski Şifre" >
            </md-input-container>
             <md-input-container md-no-float flex>
                <input type="password" ng-model="vc.NewPassword1" placeholder="Yeni Şifre">
            </md-input-container>
            <md-input-container md-no-float flex>
                <input type="password" ng-model="vc.NewPassword2" placeholder="Yeni Şifre Tekrar">
            </md-input-container>
            <span style="color:red" ng-show="!vc.FormValid">
                {{vc.Message}}
            </span>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vc.save()" class="md-primary">
            Kaydet
        </md-button>
        <md-button ng-click="vc.cancel()" class="md-primary">
            Vazgeç
        </md-button>
    </div>
</md-dialog>