<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Yeni Ekle</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-sm="column">
            <md-input-container flex>
                <input ng-model="vc.NewItem.Title" placeholder="Başlık">
            </md-input-container>
            <md-input-container flex>
                <select ng-disabled="true" style="width:100%;height:30px;" >
                    <option>Varsayılan</option>
                    <option>Hastaneler</option>
                    <option>Diğer</option>
                </select>
            </md-input-container>
            <md-input-container flex>
                <md-switch aria-label="Accept All Device" ng-model="vc.NewItem.UserCanBeEdit" ng-true-value="1" ng-false-value="0" class="md-primary">
                    Paylaştığım Kişiler Değiştirebilsin
                </md-switch>
            </md-input-container>
            <md-input-container flex>
                <md-switch  aria-label="Accept All Device" ng-model="vc.NewItem.InOrder" ng-true-value="1" ng-false-value="0" class="md-primary">
                    Liste Sıralı İşaretlensin.
                </md-switch>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vc.save()" class="md-primary">
            Kaydet
        </md-button>
        <md-button ng-click="vc.cancel()" class="md-primary">
            Vazgeç
        </md-button>
    </div>
</md-dialog>