<md-dialog class="noselect" aria-label="Share" style="min-width:40%;">
    <md-dialog-content flex>
        <div layout="row" flex>
             <md-list flex>
                <md-subheader class="md-no-sticky">Paylaş</md-subheader>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
            </md-list>
            <md-list flex>
                <md-subheader class="md-no-sticky">Paylaşılanlar</md-subheader>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
                <md-list-item ng-click="alert('asdf')">
                    <p>Test 1</p>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vc.save()" class="md-primary">
            Tamam
        </md-button>
        <md-button ng-click="vc.cancel()" class="md-primary">
            Vazgeç
        </md-button>
    </div>
</md-dialog>
