<md-dialog class="noselect" aria-label="Mango (Fruit)" style="min-width:40%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                Kullanıcı Ayarları
            </h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="column" layout-sm="column" >
            <md-input-container flex>
                <md-switch aria-label="HideComplated" ng-model="vc.settings.HideComplated" ng-true-value="1" ng-false-value="0" class="md-primary" >
                    Tamamlananları Gizle
                </md-switch>
            </md-input-container>
            <md-input-container flex>
                <md-switch aria-label="DisableShare" ng-model="vc.settings.DisableShare" ng-true-value="1" ng-false-value="0" class="md-primary" >
                    Paylaşımı Kapat !
                </md-switch>
            </md-input-container>
            <md-input-container flex>
                <md-switch aria-label="LiveSync" ng-model="vc.settings.LiveSync" ng-true-value="1" ng-false-value="0" class="md-primary"  >
                    Live Sync Aktif !
                </md-switch>
            </md-input-container>
            <md-input-container flex md-no-float>
                <input ng-model="vc.settings.ListFontSize" placeholder="Liste Font Boyutu">
            </md-input-container>
            <md-input-container flex md-no-float>
                <input ng-model="vc.settings.TitleFontSize" placeholder="Başlık Font Boyutu">
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="vc.save()" class="md-primary">
            Kaydet
        </md-button>
        <md-button ng-click="vc.cancel()" class="md-primary">
            Vazgeç
        </md-button>
    </div>
</md-dialog>